div.flash {
	font-family:"Georgia",Helvetica,Verdana;
	font-size: 120%;
	
	padding: 7px 12px 7px 12px;	
	margin-top: 10px;
	margin-bottom: 20px;
	
	-moz-border-radius: 5px ; 
	-webkit-border-radius: 5px ; 
	border-radius: 5px ;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;	
}

/* red */
div#flash_error {
	color: #D8000C;
	background-color: #FFBABA;
}

/* green */
div#flash_success {
	background-color: #DFF2BF;
	color: #4F8A10;
}

/* blue */
div#flash_notice {
	color: #00529B;
	background-color: #BDE5F8;
}

