<% title "Users" %>

<table cellspacing="0" cellpadding="10" class="table_main">
	<thead>
		<tr>
        	<th>Username</th>
            <th>Email</th>
        	<th>Actions</th>
        </tr>
	</thead>
	<tbody>
		<%= render @users %>
	</tbody>
</table>

<div id="table_actions">
	<%= link_to "New user", new_admin_user_path, :class => "large orange awesome" %>
</div>